@media screen and (max-width:992px) {
    .menu-icon {
        display: none;
        color: #fff;
        text-align: right;
        cursor: pointer;
        margin: auto 0;
        cursor: pointer;
        display: inline-block;
        font-size: 23px;
        padding: 10px 15px;
        transition: 0.3s all ease-in-out;
    }

    .main-navbar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: #5369ff;
        transform: translateX(100%);
        transition: all 0.7s ease;
        z-index: 50;
        justify-content: flex-start;
        color: #fff;
        overflow: hidden;
    }

    .menuToggle .main-navbar {
        transform: translateX(0);
    }


    .main-navbar ul {
        flex-direction: column;
        z-index: 50;
        width: 100%;
        gap: 0;
        justify-content: flex-start;
        padding: 50px 10px;
    }

    .main-navbar ul li a {
        font-size: 16px;
        color: #fff;
        border-bottom: 1px solid transparent;
    }


    .main-navbar ul li a.active {
        border-color: #fff;
        color: #fff;
    }

    .main-navbar ul li a:hover {
        border-color: #fff;
        color: #fff;
    }

    .close-icon {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        color: #fff;
        text-align: end;
        z-index: 51;
        cursor: pointer;
        border: 1px solid #fff;
        padding: 5px 10px;
        transition: 0.3s all ease;
    }

    .close-icon:hover {
        border-radius: 50%;
    }
    


}

@media screen and (max-width:768px) {}

@media screen and (max-width:576px) {





    .footer .footer-items ul li a {
        font-size: 15px;
    }
    .menu-links,.social-tags {
        width: 45%;
    }
}

@media screen and (max-width:480px) {
    /* .footer-items {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    } */
    .footer .footer-items ul li a {
        border-bottom: 1px solid transparent;
        transition: 0.6s all ease;
        text-align: center;
        width: 100%;
    }
}